<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name"><strong>{{ site.author.name | escape }}</strong></li>
          {% endif -%}
        </ul>
      {%- endif %}
      <p><strong>My LinkedIn in the link below:</strong>{% include social.html %}</p>
      </div>
    </div>

  </div>

</footer>